/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-guten-signup {
	border: 1px dotted #f00;
}

.editor-block-wrapper {
	background-color: #fff;
	padding: 20px;
}

.editor-fields {
	border: 1px solid #f00;
}

.editor-wrapper-div {
	display: inline-block;
	width: 49%;
}

div.editor-wrapper-div:first-child {
	margin-right: 10px;
}

.editor-block-wrapper .editor-wrapper-div p{
	font-size: 16px;
	margin: 0;
}